body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    background-image: url("https://images.squarespace-cdn.com/content/v1/59aec48e9f7456bae98b8609/1524087102339-1Y170RRM8QRC24H9P86P/BTHS+full+photo.JPG?format=500w");
}

h1, h2 {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#increment-btn {
    background-color: #4a90e2;
    color: white;
}

#save-btn {
    background-color: #7b4397;
    color: white;
}

.sub {
    display: none; /* Hide class buttons initially */
    background-color: #4caf50;
    color: white;
}


h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}